a {
  color: #28a338;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(0, 0, 0);
}

h1, h2{
  color: #28a338;
}

hr {
  border-color: #28a338;
}

input[type=text]{
  background-color: rgb(0, 0, 0);
  border-style: solid;
  border-color: #28a338;
  color:#28a338;
}

input[type=text]:focus{
  outline: none;
}

label {
  color: #28a338;
}

.messageContent {
  padding-left: 10px;
}

.navbar {
  margin-bottom: 5px;
}

p {
  color: #28a338;
  margin-top: 10px;
  margin-bottom: 10px;
}
